@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
    background: hsl(0,0%,0%);
    color:white;
    font-family: 'Mukta', sans-serif;
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.group-four-btn{
    background: linear-gradient(85.8452deg, rgb(212, 249, 56) 29.1667%, rgb(50, 216, 117) 100%);
}




